<!DOCTYPE html>
<html>
<head>
    <title>Text Classification</title>
    <style>
        body {
            text-align: center;
        }
        form {
            display: inline-block;
            text-align: left;
            margin: 0 auto;
            width: 70%; /* Ajustez la largeur selon vos préférences */
        }
        textarea {
            width: 100%; /* Rendre le champ de texte plus large */
        }
    </style>
</head>
<body>
    <h1>Text Classification</h1>
    <form action="/result.html" method="post">
        <label for="text">Enter your text:</label><br>
        <textarea id="text" name="Text" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>